/*para centrar los botones de anterior y siguiente*/
.antsig{
    text-align: center;
    padding: 0.5em;
    width: 400px;

}

/* para dejar el footer fijo*/
.piepag .container{
    text-align: left;
    position: absolute;
    height: 50px;
    width: 100%;
    
}