/*para centrar los botones de anterior y siguiente*/
.antsig{
    text-align: center;
    padding: 0.5em;
    width: 400px;

}

/* para dejar el footer fijo*/
.piepag{
    text-align: left;
    padding: 0.5em;
    position: absolute;
    width: 0;
    height: 40px;
}