/*para centrar los botones de anterior y siguiente*/
.antsig{
    text-align: center;
    padding: 0.5em;
    width: 400px;

}

/* para dejar el footer fijo*/
.piepag .container{
    position: absolute;
    margin: auto 0;
    height: 20%;
    width: 100%;
}
