@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    box-sizing: border-box;
  }
  /* el div de html*/

  .listadoImagenes {
    float: left;
    width: 50%;
    padding-right: 5px;
  }
  
  .card-img::after {
    content: "";
    clear: both;
    display: table;
  }