@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin:0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

div {
  flex: 1;
}
  /* el div de html*/

  .listadoImagenes {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  .card-img::after {
    content: "";
    clear: both;
    display: table;
  }

  .footer{
    position: fixed;
    padding: 10%;
    text-align: justify;
  }
  .footer .container{
    display: inline-block;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
  }