@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* el div de html*/

  .footer{
    position: fixed;
    padding: 10%;
    text-align: justify;
  }
  .footer .container{
    display: inline-block;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
  }